<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="description"           
    content="HeyCa!! - Special 17th Birthday Gift">
  <meta name="theme-color" content="#FAF5FF">
  <meta name="googlebot-news" content="nosnippet">
  <title>HeyCa!!</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="./images/favicon/icon.png">
  <!-- apple touch icon -->
  <link rel="apple-touch-icon" href="./images/favicon/icon.png">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
  <skip-link></skip-link>
  <div id="root"></div>
  <noscript>
    <p>Ups, Javascript is not available or Javascript is being turned off!</p>
  </noscript>
</body>
</html>
